
.my-slider {
  position: relative;
  height: 70vh;
  aspect-ratio: 1 / 1;

  margin: 5vh auto;

  overflow: hidden;
  /*transform: scale(0.8);*/
  
  transform-origin: center center;
  align-self: flex-start !important; /* NA WSZELKI WYPADEK */
}

.my-slider-track {
  display: flex;
  transition: transform 0.5s ease;
}

 .my-slide {
  min-width: 100%;
  box-sizing: border-box;
  position: relative;
  
}
/*
.my-slide img {
  width: 100%;
  display: block;
} */

/* Dodajemy tekst na slajdzie */
.my-slide-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  font-weight: bold;
  background: rgba(0,0,0,0.5);
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
}

/* Strzałki */
.my-slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  border: none;
  color: white;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  z-index: 10;
}

.my-slider-button.prev {
  left: 10px;
}

.my-slider-button.next {
  right: 10px;
}

/* Kropki */
.my-slider-dots {
  text-align: center;
  margin-top: 10px;
}

.my-slider-dots button {
  background: #ccc;
  border: none;
  width: 12px;
  height: 12px;
  margin: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.my-slider-dots button.active {
  background: #333;
}

.my-slide {
  width: 500px !Important;
  height: 500px !Important;
  overflow: hidden;
  box-sizing: border-box;
  border: 2px solid #ccc; 
  padding: 5px;
  background-color: #cfcfcf;
}

.my-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Zapobiega rozciągnięciu obrazu */
  display: block;
}
